#left-sidebar {
    &.widget-area {
        padding: 0;
        .widget-title {
            border-top: 1px solid $gray-300;
            padding: $spacing-md 0;
            height: 70px;
            margin: 0;
        }
        ul.product-categories {
            padding: $spacing-lg $spacing-lg 0 0;
            list-style: none;
            border-top: 1px solid $gray-300;
            li.cat-item {
                padding: $spacing-xs 0;
                text-transform: uppercase;
                a {
                    color: $nbe-gray;
                }
                .count {
                    color: $nbe-gray;
                    float: right;
                }
                &.current-cat-parent {
                    a {
                        font-weight: bold;
                    }
                }
                .children {
                    a {
                        color: $primary;
                        font-weight: normal;
                    }
                    .cat-item {
                        text-transform: capitalize;
                        font-weight: normal;
                        &.current-cat {
                            a {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}