#left-sidebar {
    &.widget-area {
        padding: 0;
        .widget-title {
            border-top: 1px solid $gray-300;
            padding: $spacing-md 0;
            height: 70px;
            margin: 0;
        }
        ul.product-categories {
            padding: $spacing-lg $spacing-lg 0 0;
            list-style: none;
            border-top: 1px solid $gray-300;
            li.cat-item {
                padding: $spacing-xs 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .count {
                    color: $nbe-gray;
                }
            }
        }
    }
}