.woocommerce {
    .woocommerce-breadcrumb {
        margin: 0;
    }
	div.product {
		margin-bottom: 0;
        position: relative;
        
		.product_title {
            font-size: 26px;
            font-weight: 600;
            text-transform: capitalize;
		}
		p.price {
			color: $nbe-dark;
			font-size: 1.25em;
		}
		span.price {
			color: $nbe-dark;
			font-size: 1.25em;
        }
        form.cart {
            div.quantity {
                .qty {
                    padding: 16px 0;
                    font-size: 16px;
                    line-height: 120%;
                    border-radius: 0;
                    border: 0;
                    background: $nbe-grey;
                    font-weight: 600;
                    margin: 10px 0;
                    text-transform: uppercase;
                }
            }
        }
        div.images {
            max-height: 600px;
            text-align: center;
            img {
                width: auto;
                height: 100%;
            }
        }
    }
    ul.products {
        padding: $spacing-lg;
        li.product {
            a {
                padding: $spacing-md;
                display: block;
                height: 100%;
                &:hover {
                    box-shadow: $shadow;
                    border-radius: 2px;
                }
            }
            .woocommerce-loop-product__link {
                img {
                    max-height: 250px;
                    width: auto;
                    object-fit: contain;
                }
                .woocommerce-loop-product__title {
                    color: $nbe-dark;
                    font-weight: 300;
                    font-size: 18px;
                    text-transform: capitalize;
                }
            }
            .price {
                color: $nbe-dark;
                font-size: 18px;
                text-transform: capitalize;
            }
        }
    }
    .products-area {
        padding: 0;
        border-left: 1px solid $gray-300;
        border-top: 1px solid $gray-300;
        ul.products {
            border-top: 1px solid $gray-300;
        }
    }
    span.onsale {
        background-color: $primary;
        border-radius: 0 !important;
        padding: $spacing-xs $spacing !important;
        min-height: initial;
        line-height: 2em;
        font-weight: 400;
    }
}

.woocommerce-products-header {
    display: none;
}

.pswp__bg {
    background: $white !important;
}