.woocommerce {
	div.product {
		margin-bottom: 0;
        position: relative;
        margin-top: $spacing-lg;
		
        form.cart {
            div.quantity {
                .qty {
                    padding: 16px 0;
                    font-size: 16px;
                    line-height: 120%;
                    border-radius: 0;
                    border: 0;
                    background: $nbe-grey;
                    font-weight: 600;
                    margin: 10px 0;
                    text-transform: uppercase;
                }
            }
        }
        div.images {
            height: 300px;
            max-height: 300px;
            text-align: center;
            @include media-breakpoint-up(md) {
                height: 400px;
                max-height: 400px;
                float: left !important;
            }
            @include media-breakpoint-up(lg) {
                height: 600px;
                max-height: 600px;
                float: left;
                width: 48%;
            }
            img {
                width: auto;
                height: 100%;
                margin: 0 auto;
            }
            .woocommerce-product-gallery__wrapper {
                height: 100%;
                .woocommerce-product-gallery__image {
                    height: 100%;
                }
            } 
            .flex-viewport {
                max-height: 600px;
                .woocommerce-product-gallery__wrapper {
                    height: 100%;
                    .woocommerce-product-gallery__image {
                        height: 100%;
                    }
                } 
            }
        }
        div.summary {
            .product_title {
                font-size: 26px;
                font-weight: 600;
                text-transform: capitalize;
            }
            p.price {
                color: $nbe-dark;
                font-size: 1.25em;
            }
            span.price {
                color: $nbe-dark;
                font-size: 1.25em;
            }
            .product_meta {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: $spacing-lg 0;
            }
            .woocommerce-tabs {
                ul.tabs {
                    border-bottom: 3px solid $gray-200;
                    position: relative;
                    padding: 0;
                    li {
                        border: 0;
                        background: none;
                        position: relative;
                        &.active {
                            border-bottom: 3px solid $nbe-dark;
                            a {
                                color: $nbe-dark;
                            }
                        }
                        &:before {
                            display: none !important;
                        }
                        &:after {
                            display: none !important;
                        }
                        a {
                            font-weight: 400;
                            font-size: 18px;
                            color: $nbe-gray;
                        }
                    }
                    &:before {
                        display: none !important;
                    }
                    &:after {
                        display: none !important;
                    }
                }
                .panel {
                    padding: $spacing-sm;
                    h2 {
                        font-size: 22px;
                        padding-bottom: $spacing;
                    }
                    .woocommerce-product-attributes {
                        .woocommerce-product-attributes-item {
                            .woocommerce-product-attributes-item__label {
                                width: 70%;
                                text-transform: capitalize;
                            }
                            .woocommerce-product-attributes-item__value {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-block{
        min-height: fit-content!important;

    }
    ul.products {
        padding: $spacing-lg;
        li.product {
            a {
                padding: $spacing-xs;
                display: block;
                height: 100%;
                min-height: 250px;
                &:hover {
                    box-shadow: $shadow;
                    border-radius: 2px;
                }
            }
            .woocommerce-loop-product__link {
                img {
                    height: auto;
                    max-height: 250px;
                    width: 100%;
                    object-fit: contain;
                }
                .woocommerce-placeholder{
                    height: auto !important;
                    // max-height: 127px!important;
                }
                .woocommerce-loop-product__title {
                    color: $nbe-dark;
                    font-weight: 300;
                    text-transform: capitalize;
                    min-height: 60px;
                }
            }
            .price {
                color: $nbe-dark;
                font-size: 18px;
                text-transform: capitalize;
            }
        }
    }
    
    .products-area {
        padding: 0;
        border-top: 1px solid $gray-300;
        @include media-breakpoint-up(md) {
            border-left: 1px solid $gray-300;
        }
        ul.products {
            border-top: 1px solid $gray-300;
        }
    }
    span.onsale {
        background-color: $primary;
        border-radius: 0 !important;
        padding: $spacing-xs $spacing !important;
        min-height: initial;
        line-height: 2em;
        font-weight: 400;
    }
    .woocommerce-result-count {
        float: right;
        padding: $spacing-md 0;
        min-height: 70px;
        margin-bottom: 0;
    }
    .woocommerce-ordering {
        float: left;
        padding: $spacing-sm 0;
        min-height: 70px;
        margin: 0 $spacing;
    }
}

.woocommerce-products-header {
    display: none;
}



.pswp__bg {
    background: $white !important;
}